In [360]:
# import Modules
import pandas as pd
import numpy as np

# Raw data file
file = "Resources/purchase_data.csv"

# Read purchasing file and store into pandas data frame
purchase_data = pd.read_csv(file)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [361]:
# Display the total number of players
total_players = len(purchase_data["SN"].value_counts())

player_count = pd.DataFrame({"Total Players":[total_players]})
player_count

   Total Players
0            576

In [362]:
# Number of Unique Items
number_unique= len((purchase_data["Item ID"]).unique())

# Average Purchase Price
average_price = (purchase_data["Price"]).mean()

# Total Number of Purchases
number_purchases = (purchase_data["Purchase ID"]).count()

# Total Revenue
total_revenue = (purchase_data["Price"]).sum()

In [363]:
# Create a summary data frame to hold the results
summary = pd.DataFrame({"Number of Unique Items":[number_unique],
                           "Average Price":[average_price], 
                           "Number of Purchases": [number_purchases], 
                           "Total Revenue": [total_revenue]})

In [364]:
# Display the summary data frame in a cleaner format
summary.style.format({'Average Price':"${:,.2f}",
                         'Total Revenue': '${:,.2f}'})

In [365]:
# Gender demographics
gender_count = purchase_data.groupby("Gender")
total_gender_count = gender_count.nunique()["SN"]
percentage_of_players = total_gender_count / total_players * 100
gender_demographics = pd.DataFrame({"Total Count": total_gender_count, "Percentage of Players": percentage_of_players})

In [366]:
# Format Gender demographics
gender_demographics.sort_values(["Total Count"], ascending = False).style.format({"Percentage of Players":"{:.2f}"})

In [367]:
#Total purchase by gender
purchase_count = gender_count["Purchase ID"].count()

#Average Purchase 
average_purchase = gender_count["Price"].mean()

#Total purchase by gender
total_purchase = gender_count["Price"].sum()

#Average purchase total per person
average_purchase_person = total_purchase/total_gender_count

In [368]:
#Display the summary data frame
gender_demographics = pd.DataFrame({"Purchase Count": purchase_count, 
                                    "Average Purchase Price": average_purchase,
                                    "Average Purchase Value":total_purchase,
                                    "Avg Purchase Total per Person": average_purchase_person})


gender_demographics.style.format({"Average Purchase Value":"${:,.2f}",
                                  "Average Purchase Price":"${:,.2f}",
                                  "Avg Purchase Total per Person":"${:,.2f}"})

In [369]:
#Age demographics

# Establish bins for ages
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#Categorize the existing players using the age bins.
purchase_data["Age Group"] = pd.cut(purchase_data["Age"],age_bins, labels=group_names)
purchase_data

#Calculate the numbers and percentages by age group
age_group = purchase_data.groupby("Age Group")
total_count_age = age_group["SN"].nunique()
percentage_by_age = (total_count_age/total_players) * 100

In [370]:
#Display Age demographics
age_demographics = pd.DataFrame({"Total Count": total_count_age, "Percentage of Players": percentage_by_age})
age_demographics.style.format({"Percentage of Players":"{:,.2f}"})

In [371]:
#Purchasing Analysis by age
#purchase by age group
purchase_age = age_group["Purchase ID"].count()
average_price_age = age_group["Price"].mean()
purchase_total = age_group["Price"].sum()
average_age_purchase = purchase_total/total_count_age

In [372]:
# display purchasing analysis by age
age_demographics = pd.DataFrame({"Purchase Count": purchase_age,
                                 "Average Purchase Price": average_price_age,
                                 "Total Purchase Value":purchase_total,
                                 "Average Purchase Total per Person": average_age_purchase})

age_demographics.sort_values(['Age Group'], ascending = True).style.format ({"Average Purchase Price":"${:,.2f}",
                               "Total Purchase Value":"${:,.2f}",
                               "Average Purchase Total per Person":"${:,.2f}"})

In [373]:
#top Spender
top_spender= purchase_data.groupby("SN")

#Purchase count
top_spender_purchase_count = top_spender["Purchase ID"].count()

#Average Purchase Price
top_spender_average_price = top_spender["Price"].mean()

#Total purchase Value
top_spender_total_purchase = top_spender["Price"].sum()

In [374]:
#Display Top Spender
top_spender_df = pd.DataFrame({"Purchase Count": top_spender_purchase_count ,
                             "Average Purchase Price": top_spender_average_price,
                             "Total Purchase Value":top_spender_total_purchase})

#Display in descending order
display_top_spenders = top_spender_df.sort_values(["Total Purchase Value"], ascending=False).head()

display_top_spenders.style.format({"Average Purchase Total":"${:,.2f}",
                                 "Average Purchase Price":"${:,.2f}", 
                                 "Total Purchase Value":"${:,.2f}"})

In [375]:
# Popular Item Analysis 
items_pop = purchase_data[["Item ID", "Item Name", "Price"]]


popular_item = items_pop.groupby(["Item ID","Item Name"])

# popular Item Count
popular_item_count = popular_item["Price"].count()

# total purchase
popular_item_value = popular_item["Price"].sum() 

# item price
popular_item_price = purchase_value/popular_item_count

In [376]:
# Display popular Item
popular_items_display = pd.DataFrame({"Purchase Count": purchase_count_item, 
                                   "Item Price": popular_item_price,
                                   "Total Purchase Value":popular_item_value})


popular_items_display_formatted.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

In [377]:
#Profitable Items Analysis 
# Sort the above table by total purchase value in descending order
popular_items_display_formatted = popular_items_display.sort_values(["Total Purchase Value"], ascending=False).head()

#formatting
popular_items_display_formatted.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})